---
layout: layouts/base.njk
title: Anandam London
permalink: /anandam-london/
---
<section class="page-intro">
  <div class="wrap">
    <h1>Anandam London</h1>
    <p>PLACEHOLDER: content for Anandam London to be filled in from scraped-content/anandam-london.md</p>
  </div>
</section>
