---
layout: layouts/base.njk
title: Publications
permalink: /publications/
---
<section class="page-intro">
  <div class="wrap">
    <h1>Publications</h1>
    <p>PLACEHOLDER: content for Publications to be filled in from scraped-content/publications.md</p>
  </div>
</section>
