---
layout: layouts/base.njk
title: About Kailash
permalink: /about-kailash/
---
<section class="page-intro">
  <div class="wrap">
    <h1>About Kailash</h1>
    <p>PLACEHOLDER: content for About Kailash to be filled in from scraped-content/about-kailash.md</p>
  </div>
</section>
