---
layout: layouts/base.njk
title: Activities
permalink: /activities/
---
<section class="page-intro">
  <div class="wrap">
    <h1>Activities</h1>
    <p>PLACEHOLDER: content for Activities to be filled in from scraped-content/activities.md</p>
  </div>
</section>
