---
layout: layouts/base.njk
title: About Maharaja
permalink: /about-maharaja/
---
<section class="page-intro">
  <div class="wrap">
    <h1>About Maharaja</h1>
    <p>PLACEHOLDER: content for About Maharaja to be filled in from scraped-content/about-maharaja.md</p>
  </div>
</section>
