---
layout: layouts/base.njk
title: Thank You
description: Thank you for reaching out to Kailash.
permalink: /thank-you/
---
<section class="page-intro">
  <div class="wrap">
    <h1>Thank You</h1>
    <p>Your message has been sent. We'll get back to you as soon as possible.</p>
    <a class="btn" href="{{ '/' | url }}">Back to Home</a>
  </div>
</section>
